h1 {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: #d5e1ef;
  height: 100vh;
  margin: 0px;
}
.container {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #88585807;
}
article {
  width: 300px;
  height: 479px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0px 10px 18px 4px #68778d5b;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 12px;
}

.outfit-all {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 22px;
  color: #1f314f;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: "Outfit", serif;
  text-align: center;
  padding: 24px 0px 0px 0px;
}
p {
  font-size: 15px;
  color: #68778D;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  font-family: "Outfit", serif;
  font-weight: 400;
  margin-bottom: 40px;
}

@media (max-width: 375px) {
  article {
    width: 250px;
    height: 410px;
  }
  h1 {
    font-size: 21px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    margin-bottom: 60px;
  }
}
